/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
}

/* Header */
.header1 {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo-container1 {
  display: flex;
  align-items: center;
}

.logo1 {
  width: 100px;
  height: 100px;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.settings-button {
  background-color: #91a78b;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.settings-button:hover {
  background-color: #7e9478;
}

/* Hero Section */
.hero-section {
  width: 100%;
}

.hero-image {
  width: 90vw;
  height: 350px;
}

/* Content */
.content1 {
  text-align: center;
  width: 200px;
}

.content h1 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 10px;
}
.content_andbutton{
  width: 100vw;
}

.workout-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 20px 20px 20px;
}

.workout-image {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.start-button {
  background-color: #91a78b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  bottom: 20px;
}

.start-button:hover {
  background-color: #7e9478;
}
/* Media Query for Mobile View */
@media (max-width: 768px) {
  /* Header */
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .logo-container {
    flex-direction: row;
    justify-content: center;
  }

  .brand-name {
    font-size: 20px;
    margin-left: 8px;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links a {
    font-size: 14px;
    margin: 0 8px;
  }

  .settings-button {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 12px;
  }

  /* Hero Section */
  .hero-image {
    height: 200px;
    object-fit: cover;
  }

  /* Content */
  .content {
    padding: 15px;
  }

  .content h1 {
    font-size: 24px;
  }

  .workout-gallery {
    flex-direction: column;
    gap: 15px;
  }

  .workout-image {
    width: 100px;
    height: 100px;
  }

  .start-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
